<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--
    OS.js - Copyright (c) 2019-2028
    Soham Dutta (soham.dutta.analyst@gmail.com)
    https://github.com/NP-compete/
    -->
    <meta name="google" content="notranslate" />
    <meta name="description" content="OS.js - JavaScript Cloud/Web Desktop Platform" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  </body>
</html>
